page-nsp-detail {
    .wordNavbar{
        color: #f4f4f4;
        font-size: 7vw;
        font-weight: 700;

        font-style: italic;
    }

    .headerNSP{
        margin-top: 5vw;
    }

    .Back{
        font-size: 7vw;
    }

    .pict{
        width: 16vw;
        height: 16vw;
        border-radius: 100%;
    }

    .sender{
        padding: 1vh 2vw 0vh 2vw;
        font-size: 5vw;
        font-weight: 500;
        color: $dark;
    }
    .content{
        padding: 0vh 2vw 0vh 2vw;
        font-size: 4vw;
        // font-weight: 500;
        color: gray;
    }


    .pictVideo{
        width: 100vw;
        // height: 50vw;
    }

    .nameVideo{
        color: $dark;
        // width: 80%;
        padding: 2vw 4vw 0vw 4vw;
        font-size: 5vw;
        text-transform: uppercase;
        font-weight: 450;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .infoVideo{
        color: gray;
        padding: 0vw 4vw 5vw 4vw;
        font-size: 4vw;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .descVideo{
        color: gray;
        padding: 2vw 6vw;
        font-size: 4vw;
        text-align: justify;
    }


    .headerTerkait{
        padding: 4vw 0vw 2vw 5vw;
        font-size: 5vw;
        font-weight: 500;
        color: #08B2A5;
    }


    .card{
        // border-top: 1px solid rgba(0,0,0,0.2);
        padding: 1vh 0vw 1vh 2vw;
    }

    .border{
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    .borderCustom{
        padding-bottom: 5vw;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
}
