<ion-header>
  <ion-navbar color="muserYellow">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="muserBlack"></ion-icon>
    </button>
    <ion-title text-right><span class="wordNavbar">Chat</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">

  <ion-fab right bottom>
    <button color="muserYellow" ion-fab (click)="gotoNewMessage()">
      <ion-icon  name="md-chatbubbles"></ion-icon>
    </button>
  </ion-fab>

  <div class="card" (click)="gotoDetail(data)" *ngFor="let data of chats">
    <ion-row no-padding>
      <ion-col col-3 no-padding text-center>
          <img *ngIf="data.img" class="pict" src="http://156.67.218.250:81{{data.img}}"/>
          <img src="assets/pict/Profil.png" *ngIf="!data.img" class="pict"/>
      </ion-col>
      <ion-col col-7 no-padding class="border">
        <div class="sender">
          {{data.sender_name}}
        </div>
        <div class="content">
          {{data.title}}
        </div>
      </ion-col>
      <ion-col col-2 no-padding class="border2" text-center>
        <div class="date">
          {{(data.updated_at)?.substring(11,16)}}
        </div>
        <div class="sender">
          <ion-icon name="ios-arrow-forward-outline" item-left></ion-icon>
        </div>
      </ion-col>
      <!-- <ion-col col-1 no-padding class="border2" text-center>
        
      </ion-col> -->
    </ion-row>
  </div>

  
  
</ion-content>
