<ion-header>
  <ion-navbar color="muserYellow">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="muserBlack"></ion-icon>
    </button>
    <ion-title text-right><span class="wordNavbar">Chat</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background" padding>

  <div text-wrap *ngFor="let data of chats" >
      <div *ngIf="data.id_user==user" class="talk-bubble-left tri-right btm-left">
        <div class="talktext">
          <p class="chatContent">{{data.description}}</p>
        </div>
      </div>

      <div *ngIf="data.id_user!=user" text-right class="talk-bubble-right tri-right btm-right" text-right>
          <div class="talktext">
            <p class="chatContent">{{data.description}}</p>
          </div>
          <br>
      </div>
  </div>
  
</ion-content>
