page-profile-edit {
    .wordNavbar{
        color: #f4f4f4;
        font-size: 7vw;
        font-weight: 700;

        font-style: italic;
    }

    .invisibleButton {
        height:10px;
        width:60px;
    }
}
