<ion-header>

    <ion-navbar color="muserYellow" text-center>
        <ion-title><span class="wordNavbar">Aa Gym</span><button ion-button clear class="invisibleButton"></button></ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content>
  <!-- <div text-wrap>
      <div *ngIf="data.id_user==user" class="talk-bubble-left tri-right btm-left">
        <div class="talktext">
          <p class="chatContent">kiri</p>
        </div>
      </div>

      <div *ngIf="data.id_user!=user" text-right class="talk-bubble-right tri-right btm-right" text-right>
          <div class="talktext">
            <p class="chatContent">kanan</p>
          </div>
          <br>
      </div>
  </div> -->

  <div class="chatCard" text-wrap>
      <div  class="talk-bubble-left tri-right btm-left">
        <div class="talktext">
          <p class="chatContent">kiri kiri kiri kiri kiri kirikirikirikirikirikiri kiri kiri kiri kiri kirikiri kiri kiri  kiri  kiri  kiri  kiri  kiri  kiri  kiri kiri kiri</p>
        </div>
      </div>

  </div>

  <div class="chatCard" text-wrap>

      <div text-right class="talk-bubble-right tri-right btm-right" text-right>
          <div class="talktext">
            <p class="chatContent">kanan kanan kanan kanan kanan kanan kanankanan kanankanankanan kanan kanan kanan kanan kanan kanankanankanankanankanankanankanan</p>
          </div>
          <br>
      </div>
  </div>

  <div class="chatCard" text-wrap>
      <div  class="talk-bubble-left tri-right btm-left">
        <div class="talktext">
          <p class="chatContent">kiri kiri kiri kiri kiri kirikirikirikirikirikiri kiri kiri kiri kiri kirikiri kiri kiri  kiri  kiri  kiri  kiri  kiri  kiri  kiri kiri kiri</p>
        </div>
      </div>

  </div>

  <div class="chatCard" text-wrap>

      <div text-right class="talk-bubble-right tri-right btm-right" text-right>
          <div class="talktext">
            <p class="chatContent">kanan kanan kanan kanan kanan kanan kanankanan kanankanankanan kanan kanan kanan kanan kanan kanankanankanankanankanankanankanan</p>
          </div>
          <br>
      </div>
  </div>
</ion-content>

<ion-footer class="footerBackground" no-padding>

  <ion-row no-padding>
    <ion-col col-11 no-padding>
      <ion-textarea (keypress)="sendChat($event.keyCode)" class="inputText" [(ngModel)]="message" name="message" placeholder="Text message.." type="text" #alamat="ngModel" required autosize></ion-textarea>
    </ion-col>
    <ion-col col-1 no-padding>
      <span class="IconSend"><ion-icon  (click)="sendChat(13)" name="ios-arrow-forward-outline" class="IconSendSize"></ion-icon></span>
    </ion-col>
  </ion-row>
    
    
</ion-footer>